body {
  background-color: #323232;
  color: green;
  font-family: "Roboto", sans-serif;
}

.time {
  position: absolute;
  top: 0;
  right: 20px;
  color: white;
}

.instruct {
  width: 20%;
  font-size: 1.5rem;
}

.container div {
  border-radius: 5px;
  padding: 20px 10px 10px;
  background-color: black;
  color: green;
  font-size: 3rem;
  position: relative;
}

.container {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  font-weight: bold;
  position: relative;
  z-index: -1;
}

.box {
  max-width: 520px;
  margin: 100px auto 50px;
  border: 1px solid;
  padding: 10px;
  border-color: white;
  border-radius: 5px;
  background-color: #323232;
  position: relative;
  bottom: 100px;
}

.container .pressed {
  background-color: #323232;
  color: #323232;
}

.start {
  color: green;
  font-size: 3rem;
  position: absolute;
  left: 25%;
  top: 43%;
  z-index: 1;
  background-color: #323232;
}

.restart {
  color: green;
}

#ldb {
  text-align: center;
  color: white;
}

.cen-text {
  text-align: center;
  position: relative;
  bottom: 55px;
  font-size: 1.5rem;
}

/* @media (max-width: 900px){
  body{
    text-align: center;
    display: block;
    margin: auto;
  }
} */
